@page "/orders"

@using AlphaProject.Shared.Dtos
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject OrdersClient OrdersClient

<h3>Orders</h3>

@if (_orders is null)
{
    <p>Caricamento…</p>
}
else
{
    <ul>
        @foreach (var o in _orders)
        {
            <li>@o.OrderDate - @o.TotalAmount</li>
        }
    </ul>
}

@code {
    private List<OrderDto>? _orders;

    protected override async Task OnInitializedAsync()
    {
        _orders = await OrdersClient.GetOrdersAsync();
    }
}
 

